@import url(variaveis.css);

#home{
 display: flex;
 margin: 90px 0px;
 min-height:calc(100vh - 91px) ;
 position: relative;

}
#cta{ 
    margin-left: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    height: 100%;
   
}
 #mobile-img-home{
    display: none;
 }
#cta .title{
    font-size: 4rem;
}
#cta .title span{
    color: var(--logo);
}
#cta .description{
    font-size: 1.2rem;
}
#cta-buttons{
    display: flex;
    gap :24px;
}
#cta-buttons a{
    text-decoration: none;
    color:black ;
}
#phone-button{
display: flex;
gap: 8px;
align-items: center;
padding: 8px 14px;
font-weight: 500;
background-color: white;
box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.103);
border-radius: 10px;
}
#cta-buttons .btn-default{
color: white;
} 

#banner{
    width: 60%;
    display: flex;
    justify-content: center;
    height: 90vh;
}
#banner img{
    height: 70%;
    width: fit-content;
}

@media screen and (max-width:500px){

    #cta{
    width: 100%;

}
    #banner{
    display:   none;
}

#banner img{
    display: none;
}
}
@media screen and (min-width:400px) and (max-width:992px){
  
    #home{
        min-height: 90%;
        display: block;
    
        }
        .shape, #banner,#banner img{
           display: none;
        }
        #cta{
            width: 100%;
            text-align: center;
            align-items: center;
            margin: auto;
            padding: 5%;
          
        }
        #cta-buttons{
        display:block;
        
     }
        #phone-button{
            margin-top: 15%;
        }
    #mobile-img-home{
        display: flex;
        justify-content: center;
        align-content: center;
       
    }
    #mobile-img-home img{
        width: 60%; 
        height: 100%;
    
}
  }
  @media screen and (min-width:1450px){
    
    .shape {
        background-color: var(--generic-items);
        width: 40%;
        height: 80%;
        position:absolute ;
        border-radius: 40% 20% 30% 20%;
        top: 5%;
        right: 4%;
        z-index: -1;
        box-shadow: 50px 30px 50px rgba(0, 0, 0, 0.329);
    }
    #banner img{
        height: 90%;
        width: fit-content;
    }
 }